.preload {
  width: 1px;
  height: 1px;
  display: inline;
  background-image: url("~@/assets/cardGame/common/rank.png"),
    url("~@/assets/cardGame/common/score.png"),
    url("~@/assets/cardGame/common/winner.png"),
    url("~@/assets/cardGame/fruit/background/background1.png"),
    url("~@/assets/cardGame/fruit/background/background2.png"),
    url("~@/assets/cardGame/fruit/background/background3.png"),
    url("~@/assets/cardGame/fruit/background/background4.png"),
    url("~@/assets/cardGame/fruit/background/background5.png"),
    url("~@/assets/cardGame/fruit/card/card_1.png"),
    url("~@/assets/cardGame/fruit/card/card_2.png"),
    url("~@/assets/cardGame/fruit/card/card_3.png"),
    url("~@/assets/cardGame/fruit/card/card_4.png"),
    url("~@/assets/cardGame/fruit/card/card_5.png"),
    url("~@/assets/cardGame/fruit/card/card_6.png"),
    url("~@/assets/cardGame/fruit/card/card_7.png"),
    url("~@/assets/cardGame/fruit/card/card_8.png"),
    url("~@/assets/cardGame/fruit/card/card_9.png"),
    url("~@/assets/cardGame/fruit/card/card_10.png");
}
