.oaoa {
    width: 130px;
}


.typing {
    width: 14em;
    white-space: nowrap;
    border-right: 2px solid transparent;
    animation: typing 3.5s steps(15, end), blink-caret .75s step-end infinite;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    overflow: hidden;
}

/* type eff */
@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 15em;
    }
}